*{margin: 0;padding: 0;box-sizing: border-box;user-select: none;}
body{
  overflow: hidden;
}
.card{
  background-color: lightgoldenrodyellow;
  position: absolute;
  border: 1px solid black;
  cursor: grab;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 20px 1fr 20px;
}
.card div{
  overflow: scroll;
  grid-area:  2 / 2 / 3 / 3;
}
body{
  position: relative;
  height: 100vh;
  width: 100vw;
}
.resize{
  cursor: se-resize;
  grid-area: 3 / 3 / 4 / 4;
}
.delete{
  cursor: pointer;
  grid-area: 1 / 3 / 2 / 4;
}
.edit{
  cursor: pointer;
  grid-area: 1 / 1 / 2 / 2
}
.tox{
  z-index: 9999999999999999999999999999999999999999999999999999999999 !important;
  position: absolute;
  width: 900px;
  left: 200px;
}
.tox > *{
  z-index: 9999999999999999999999999999999999999999999999999999999999 !important;
}
/* .tox-toolbar__primary[role="group"] > div:last-child{
  position: absolute;
  right: 0;
  bottom: -280px;
} */
.innertext > *{
  pointer-events: none;
}
button{
  border-radius: 0;
}
.tox-promotion{
  display: none;
}