*{margin: 0;pad: 0;box-sizing: border-box;user-select: none;}
.card{
  background-color: lightgoldenrodyellow;
  position: absolute;
  border: 1px solid black;
  cursor: grab;
  overflow-x: hidden;
  overflow-y: scroll;
}
body{
  position: relative;
  height: 100vh;
  width: 100vw;
}
.resize{
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
  width: 20px;
  height: 20px;
}
.delete{
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
}